body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url("bg.jpg");
    background-size: 1000px 1000px;
    backdrop-filter: blur(5px);
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: #8fbc8f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.header-content h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f5e8bf;
}
.motto {
    font-size: 1.2em;
}
.section {
    padding: 40px 0;
    text-align: center;
    color: #fff;
}
.category-grid, .suggestions-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    margin-top: 20px;
    color: #fff;
}
.category-item, .suggestion-item {
    background: #fff;
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.category-item img, .suggestion-item img {
    max-width: 100%;
    border-radius: 10px;
    color: #fff;
}
h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #f5e8bf;
}
h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #f5e8bf;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li {
    display: inline;
    margin: 0 10px;
}
.footer-links ul li a {
    color: #f5e8bf;
    text-decoration: none;
}
footer {
    background: #12372A;
    color: #f5e8bf;
    padding: 20px 0;
    text-align: center;
}
